# Virtual env
.env/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Logs
logs/

# Database
*.db

# Models / heavy files (keep models folder but ignore large binary checkpoints if any)
*.h5

# OS files
.DS_Store
data/vector_db/
.env
scratch/
